p 
	ul nginx gets a flat index.html file with bundle.min.css and bundle.min.js, minified and uglified with sourcemaps

h4 Package Management
ul
	li 
		b yarn
h4 Dev
	li vim / agnostic
	li Browsersync
	li JSLint
	li JSHint
	li ESLint
	li JSCS
h3 Production
h4 Automation
	li gulp (only as much as necessary)
	li npm Scripts
	li Babel
		code npm install gulp-babel babel-preset-es2015 --save-dev
	li Minification -Webpack
	li Sourcemaps -Webpack
	li Bundling - Webpack
// h4 Minify
	ul
		li gulp-filter
		li gulp-CSSO
		li gulp-Uglify
		li gulp-ng-annotate, ngAnnotate
		li gulp-sourcemaps
		li 
			code npm install gulp-filter gulp-csso gulp-uglify gulp-ng-annotate


h4 Production Build

h4 Unit Testing
ul
	li Framework
	li Assertion Library
	li Helper Libraries
	li Where to run tests
	li Where to place tests
	li When to run tests
h4 Continuous Integration
ul
	li Travis
	li Appveyor
	li Jenkins
	li CircleCI
	li Semaphore
	li SnapCI
h4 http requests
ul
	li Node
	li Browser
	li Node & Browser
h4 APIs?

h4 Demo App

h4 Project Structure



h4 Automate Deployment
ul
	li AWS
	li Microsoft Azure
	li Heroku
	li Firebase
	li Google Cloud Platform
	li Pubstorm
	li Github
	li (Green squid guy ? )
	li localtunnel
	li ngrok
	li Surge
	li now
