p
    This is basically just a list of choices that need to be made about a Node development environment that I want to expand on.


h4 Tidy Code
    li 
        code gulp-load-plugins

h4 Editor
ul
	li vim / agnostic

h4 Package Management
ul
	li npm - Would use only this except that it seems like there is no wiredep equivalent. Therefore, use bower for anything that you want injected, npm for everything else. Unless minifying and bundling affects this.
	li Bower
	li JSPM
	li volo
	li Jam
h4 Easy Config? Development Webservers
ul
	li http-server
	li live-server
	li express
	li budo
	li Webpack dev server
	li Browsersync
h4 Sharing work
ul
	li localtunnel
	li ngrok
	li Surge
	li now
h4 Automation
ul
	li Grunt
	li gulp
	li npm Scripts
h4 Transpiling
ul
    li Babel
        code npm install gulp-babel babel-preset-es2015 --save-dev
	li TypeScript
	li Elm
h4 Bundling
ul
	li Browserify
	li Webpack
	li Rollup
    li JSPM
    li gulp-concat
h4 Minify
ul
    li gulp-filter
    li gulp-CSSO
    li gulp-Uglify
    li gulp-ng-annotate, ngAnnotate
    li gulp-sourcemaps
    li 
        code npm install gulp-filter gulp-csso gulp-uglify gulp-ng-annotate

h4 Linting
ul
	li JSLint
	li JSHint
	li ESLint
	li JSCS
ul
	li
		code.code npm install gulp-jshint --save-dep
	li 
		code.code npm install gulp-jscs --save-dep

h4 Unit Testing
ul
	li Framework
	li Assertion Library
	li Helper Libraries
	li Where to run tests
	li Where to place tests
	li When to run tests
h4 Continuous Integration
ul
	li Travis
	li Appveyor
	li Jenkins
	li CircleCI
	li Semaphore
	li SnapCI
h4 http requests
ul
	li Node
	li Browser
	li Node & Browser
h4 APIs?

h4 Demo App

h4 Project Structure

h4 Production Build
ul
	li Minification
	li Sourcemaps
h4 Automate Deployment
ul
	li AWS
	li Microsoft Azure
	li Heroku
	li Firebase
	li Google Cloud Platform
	li Pubstorm
	li Github
	li (Green squid guy ? )

